.form {
    @include u-dflex-center;
    max-width: 550px;
    width: 100%;

    &__content {
        @include u-dflex-center;
        flex-direction: column;
        height: auto;
        background: $beige;
        padding: 3%;
    }

    &__input {
        margin: 15px auto;
        border: none;
        padding: 15px 50px;
    }

    &__submit {
        @include u-btn;
        margin: 10px auto;
        &:hover {
            background: $turquoise;
            border: 2px solid transparent;
            color: $white;
        }
    }

    &__error {
        color: $lightred;
        font-weight: 700;
    }
}