.form {
    @include u-dflex-center;
    &__content {
        width: fit-content;
        @include u-dflex-center;
        flex-direction: column;
        height: auto;
        background: rgba(222, 18, 18, .7);
        padding: 15%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    &__header {
        @include u-dflex-center;
        flex-direction: column;
    }
    &__text {
        @include u-title;
        margin-top: 10px;
        color: $white;
    }
    &__input {
        margin: 15px auto;
        border: none;
        padding: 15px 50px;
    }
    &__submit,
    &__btn {
        @include u-btn;
        font-size: $sm-font;
        margin: 10px auto;
        padding: 10px 15px;
        background: transparent;
        border: 2px solid $white;
        color: $white;
        &:hover {
            border: 2px solid $darkgrey;
            color: $darkgrey;
        }
        &+span {
            margin-left: 10px;
        }
    }
    &__control {
        @include u-dflex-center;
    }
    &__error {
        color: $white;
        font-weight: 700;
    }
}