.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    width: fit-content;
    min-width: 250px;
    height: 100vh;
    background: $white;
    z-index: 1;
    transform: translateY(-250vh);
    transition: all .5s ease;
    &__content {
        @include u-dflex-center;
        justify-content: space-between;
        flex-direction: column;
    }
    &__logo {
        &>a img {
            height: 150px;
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style: none;
        padding: 0;
        &__item {
            padding: 8px 0;
            transition: all .5s ease;
            &:hover {
                transform: translateX(-3px);
                -webkit-transform: translateX(-3px);
            }
            &>a {
                color: $darkgrey;
                font-size: $md-font;
                font-weight: 700;
                letter-spacing: 1.3px;
                text-decoration: none;
                cursor: pointer;
                &:active,
                &:focus {
                    color: $darkgrey;
                }
            }
        }
    }
    &__cart {
        &__icon {
            color: $darkgrey;
        }
        &__count {
            position: absolute;
            margin-left: 15px;
            margin-top: -35px;
            border-radius: 18px;
            height: 18px;
            width: auto;
            padding: 0 5px 0 6px;
            line-height: 19px;
            min-width: 7px;
            color: $white;
            text-align: center;
            background: $lightred;
        }
    }
    &__footer {
        &__content {
            @include u-dflex-center;
            flex-direction: column;
        }
    }
    &__copyrights {
        color: $darkgrey;
        font-size: $md-font;
        letter-spacing: 1.3px;
    }
    &.is-visible {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}