.profile__icon {
    &__btn {
        color: $white;
        background-color: transparent;
        border-color: transparent;
        &:not(:disabled):not(.disabled):active:focus, &:hover, &:active, .show > .btn-secondary.dropdown-toggle {
            box-shadow: none;
            color: $white;
            background-color: transparent;
            border-color: transparent;
        }
    }

    > .show > .btn-secondary.dropdown-toggle {
        background-color: transparent;
        border-color: transparent;
    }

    > .dropdown-item.active, .dropdown-item:active {
        background-color: transparent;
        outline: none;
    }

    &__dropdown {
       .header__menu__item > a {
            color: $darkblue;
        }
    }
}