// Variables

//Fonts
$sm-font: 12px;
$md-font: 16px;
$lg-font: 22px;

//Colors
$darkblue: #105187;
$turquoise: #2C8693;
$beige: #F0F1D5;
$lightorange: #F19722;
$lightred: #C33325;

//Mixins
@mixin u-dflex-center {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}