// Variables

//Fonts
$sm-font: 12px;
$md-font: 16px;
$lg-font: 22px;

//Colors
$white: #fff;
$darkblue: #105187;
$turquoise: #2C8693;
$beige: #F0F1D5;
$lightorange: #F19722;
$lightred: #C33325;

//Mixins
@mixin u-dflex-center {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin u-btn {
    padding: 15px 25px;
    margin: 0 auto;
    border: 2px solid $turquoise;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    color: $turquoise;
    font-weight: 700;
    letter-spacing: 1.5px;
    transition: all .6s linear;
}