.btn {
  &-toggle {
    @include u-btn;
    padding: 15px;
    color: $white;
    border: none;
    &:focus,
    &:hover {
      outline: none;
    }
    &--fixed {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
    }
    &--icon {
      width: 30px;
      height: 20px;
      position: relative;
      margin: 0px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      & span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        background: #e65100;
      }
      & span:nth-child(1) {
        top: 0;
      }
      & span:nth-child(2) {
        top: 10px;
      }
      & span:nth-child(3) {
        top: 20px;
      }
      &.is-open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &.is-open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      &.is-open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
  &--home {
    @include u-btn;
    font-size: $sm-font;
    margin: 10px auto;
    padding: 10px 15px;
    background: $darkgrey;
    border: 2px solid $darkgrey;
    color: $white;
    &:hover {
      background: $white;
      color: $darkgrey;
    }
  }
}
